@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Inter&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1300px;
}

.btn {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 19px;
  color: #1B3764;
  padding: 18px 52px;
  cursor: pointer;
}

.btn_light {
  background: #FFCA42;
  letter-spacing: 0.57px;
  border: none;
}

.btn_transparent {
  background: transparent;
  letter-spacing: 0.38px;
  border: 2px solid #ffca42;
}

.title-2 {
  font-family: "Cardo", serif;
  font-size: 42px;
  line-height: 50px;
  color: #1B3764;
  position: relative;
}

.title-2::after {
  content: '';
  display: block;
  height: 3px;
  width: 50px;
  position: absolute;
  background: #FFCA42;
}

.header {
  background: #1B3764;
}

.header__left, .header__right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 35px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social__item {
  height: 45px;
  width: 45px;
  background: #fff;
}

.social__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__img {
  color: #141414;
}

.nav {
  margin-right: 39px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 47px;
}

.nav__link {
  color: #F6F8FC;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.17px;
}

.nav__link:hover {
  color: #FFCA42;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 51px;
}

.order__cart {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.order__img {
  width: 100%;
  height: 100%;
}

.banner {
  background: #1B3764;
}

.banner__wrapper {
  padding: 100px 21px 100px 23px;
  gap: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__subtitle {
  font-family: "Cardo", serif;
  font-size: 21px;
  letter-spacing: 1.2px;
  position: relative;
  padding-left: 49px;
}

.banner__subtitle::before {
  content: "";
  display: block;
  height: 2px;
  width: 35px;
  background: #FFCA42;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner__title {
  font-family: "Cardo", serif;
  font-size: 63px;
  letter-spacing: 1.3px;
  margin: 10px 0 24px;
  line-height: 78px;
}

.banner__text {
  font-family: "Inter", sans-serif;
  color: #B4C7E7;
  font-size: 18px;
  line-height: 28px;
}

.banner__btns {
  margin: 30px 0 40px;
}

.banner__link {
  font-family: "Cardo", serif;
  font-size: 19px;
  letter-spacing: 0.38px;
  border-bottom: 1px solid #fff;
  margin-left: 51px;
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.stat__item {
  position: relative;
  padding-left: 26px;
}

.stat__item::before {
  content: "";
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  background: #FFCA42;
  border-radius: 100px;
  left: 0;
  top: 3px;
}

.stat__title {
  font-family: "Cardo", serif;
  font-size: 24px;
  letter-spacing: 0.48px;
  margin-bottom: 12px;
}

.stat__info {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #B4C7E7;
}

.books {
  padding: 130px 0 150px;
}

.books__title {
  text-align: center;
  margin-bottom: 60px;
}

.books__title::after {
  left: 50%;
  bottom: -23px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.books__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  color: #1B3764;
}

.book__img {
  -webkit-filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.2));
}

.book__img img {
  max-height: 382px;
}

.book__title {
  font-family: "Cardo", serif;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.32px;
  margin-bottom: 7px;
}

.book__price {
  font-family: "Inter", sans-serif;
  color: #FFCA42;
  font-size: 21px;
  line-height: 33px;
}

.book__about {
  font-family: "Inter", sans-serif;
  font-size: 19px;
  line-height: 28px;
  color: #969AA0;
  margin: 17px 0 7px;
}

.book__label {
  font-family: "Cardo", serif;
  font-size: 24px;
  line-height: 29px;
  position: relative;
  padding-left: 26px;
  margin-bottom: 27px;
}

.book__label::before {
  content: "";
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  background: #FFCA42;
  border-radius: 100px;
  left: 0;
  top: 3px;
}

.author {
  background: #F5F8FC;
  padding: 140px 0;
}

.author__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 200px;
}

.author__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 525px;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3));
          filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3));
  position: relative;
}

.author__img img {
  width: 100%;
  height: auto;
}

.author__img::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 10px solid #FFCA42;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: -1;
}

.author__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.author__title {
  margin-bottom: 60px;
}

.author__title::after {
  bottom: -23px;
}

.author__text {
  font-family: "Inter", sans-serif;
  color: #969AA0;
  font-size: 19px;
  line-height: 34px;
}

.achieve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 26px;
  margin: 34px 0 55px 0;
}

.achieve__item {
  padding: 0 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-right: 1px solid #FFCA42;
}

.achieve__item:last-child {
  border: 0;
}

.achieve__num {
  font-family: "Cardo", serif;
  font-size: 54px;
  line-height: 77px;
  color: #1B3764;
}

.achieve__title {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 22px;
  color: #969AA0;
}

.contact {
  background: #1B3764;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.contact__qr {
  max-width: 130px;
}

.contact__qr img {
  width: 100%;
  height: auto;
}

.contact__name {
  font-family: "Cardo", serif;
  color: #FFCA42;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 10px;
}

.contact__data {
  font-family: "Inter", sans-serif;
  color: #B4C7E7;
  font-size: 18px;
  line-height: 28px;
  margin: 5px 0;
}

.contact__link {
  letter-spacing: 0.19px;
  margin-left: 10px;
}

.partners {
  padding: 126px 0 130px 0;
}

.partners__title {
  text-align: center;
  margin-bottom: 76px;
}

.partners__title::after {
  left: 50%;
  bottom: -23px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
  padding: 0 10px;
}

.partners__name {
  font-family: "Cardo", serif;
  color: #1B3764;
  font-size: 24px;
  line-height: 29px;
}

.partners__desc {
  font-family: "Inter", sans-serif;
  color: #969AA0;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
}

.order-today {
  background: #1B3764;
  padding: 70px 0;
}

.order-today__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 200px;
}

.order-today__title {
  color: #fff;
  margin-bottom: 54px;
}

.order-today__title::after {
  bottom: -23px;
}

.order-today__desc {
  font-family: "Inter", sans-serif;
  font-size: 19px;
  line-height: 28px;
  color: #B4C7E7;
  margin-bottom: 27px;
}

.order-today__btn {
  color: #fff;
}

.learn {
  padding: 140px 0;
}

.learn__title {
  text-align: center;
  margin-bottom: 96px;
}

.learn__title::after {
  left: 50%;
  bottom: -23px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.learn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}

.learn__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.learn__item {
  background: #F5F8FC;
  padding: 110px 30px 27px;
}

.learn__info {
  color: #1B3764;
  font-family: "Cardo", serif;
  font-size: 24px;
  line-height: 34px;
  position: relative;
}

.learn__info::before {
  content: "01";
  display: block;
  font-family: "Cardo", serif;
  color: #1B3764;
  width: 50px;
  height: 50px;
  background: #FFCA42;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -80px;
}

.learn__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 535px;
  padding-right: 40px;
}

.learn__img img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */