.author {
  background: $background-color-light;
  padding: 140px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
    @include md {
      flex-direction: column;
      gap: 50px;
    }
  }
  &__img {
    flex: 1 1 50%;
    max-width: 525px;
    margin-right: 40px;
    filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3));
    position: relative;
    height: fit-content;
    & img {
      width: 100%;
      height: auto;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border: 10px solid $base-color-light;
      position: absolute;
      top: 40px;
      right: -40px;
      z-index: -1;
      @include xs {
        display: none;
      }
    }
    @include xs {
      margin-right: 0;
    }
  }
  &__content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    @include xs {
      align-items: center;
    }
  }
  &__title {
    margin-bottom: 60px;
    &::after {
      bottom: -23px;
    }
  }
  &__text {
    font-family: $font-family-base;
    color: $font-color-grey;
    @include adaptive_font(19, 16);
    line-height: 1.8;
  }
}
.achieve {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  margin: 34px 0 55px 0;
  &__item {
    padding: 0 12px;
    flex: 1 1 auto;
    border-right: 1px solid $base-color-light;
    &:last-child {
      border: 0;
    }
  }
  &__num {
    font-family: $font-family-header;
    @include adaptive_font(54, 35);
    line-height: 1.4;
    color: $base-color-dark;
  }
  &__title {
    font-family: $font-family-base;
    @include adaptive_font(17, 15);
    line-height: 1.3;
    color: $font-color-grey;
  }
}
.contact {
  background: $base-color-dark;
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 15px 20px;
  width: max-content;
  @include xs {
    flex-direction: column;
  }
  &__qr {
    max-width: 130px;
    & img {
      width: 100%;
      height: auto;
    }
  }
  &__name {
    font-family: $font-family-header;
    color: $base-color-light;
    @include adaptive_font(22, 19);
    line-height: 1.2;
    margin-bottom: 10px;
  }
  &__data {
    font-family: $font-family-base;
    color: $font-color-footer;
    @include adaptive_font(18, 16);
    line-height: 1.6;
    margin: 5px 0;
  }
  &__link {
    letter-spacing: 0.19px;
    margin-left: 10px;
    transition: all 0.5s ease;
    &:hover {
      color: $base-color-light;
    }
  }
}
