.main {
  padding-top: 100px;
}
.banner {
  background: $base-color-dark;
  &__wrapper {
    padding: 100px 21px 100px 23px;
    gap: 75px;
    @include flex-rule(space-between, row, center);
    @include sm {
      flex-direction: column;
    }
    @include xs {
      padding-top: 50px;
    }
  }
  &__content {
    flex: 1 1 50%;
  }
  &__subtitle {
    font-family: $font-family-header;
    @include adaptive_font(21, 19);
    letter-spacing: 1.2px;
    position: relative;
    padding-left: 49px;
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 35px;
      background: $base-color-light;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__title {
    font-family: $font-family-header;
    @include adaptive_font(63, 30);
    letter-spacing: 1.3px;
    margin: 10px 0 24px;
    line-height: 1.2;
  }
  &__text {
    font-family: $font-family-base;
    color: $font-color-footer;
    font-size: 18px;
    line-height: 28px;
  }
  &__btns {
    margin: 30px 0 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__btn {
    margin-right: 51px;
  }
  &__link {
    font-family: $font-family-header;
    @include adaptive_font(19, 16);
    letter-spacing: 0.38px;
    border-bottom: 1px solid #fff;
    margin-top: 20px;
    transition: all 0.5s ease;
    &:hover {
      color: $base-color-light;
      border-bottom: 1px solid $base-color-light;
    }
  }
  &__img {
    flex: 1 1 50%;
    @include sm {
      width: 50%;
    }
    & img {
      max-width: 100%;
    }
  }
}
.stat {
  display: flex;
  justify-content: space-between;
  &__item {
    position: relative;
    padding-left: 26px;
    &::before {
      content: "";
      height: 16px;
      width: 16px;
      display: block;
      position: absolute;
      background: $base-color-light;
      border-radius: 100px;
      left: 0;
      top: 3px;
    }
  }
  &__title {
    font-family: $font-family-header;
    @include adaptive_font(24, 19);
    letter-spacing: 0.48px;
    margin-bottom: 12px;
  }
  &__info {
    font-family: $font-family-base;
    @include adaptive_font(17, 15);
    color: $font-color-footer;
  }
}
