.books {
  padding: 130px 0 150px;
  &__title {
    text-align: center;
    margin-bottom: 60px;
    &::after {
      left: 50%;
      bottom: -23px;
      transform: translateX(-50%);

    }
  }
  &__gallery {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
    @include md {
      flex-direction: column;
      align-items: center;
    }
  }
}
.book {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  gap: 30px;
  color: $base-color-dark;
  &__img {
    filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.2));
    flex: 1 1 50%;
    & img {
      // max-height: 382px;
      max-width: 100%;
    }
  }
  &__desk {
    flex: 1 1 50%
  }
  &__title {
    font-family: $font-family-header;
    @include adaptive_font(32, 22);
    line-height: 1.2;
    letter-spacing: 0.32px;
    margin-bottom: 7px;
  }
  &__price {
    font-family: $font-family-base;
    color: $base-color-light;
    @include adaptive_font(21, 18);
    line-height: 1.6;
  }
  &__about {
    font-family: $font-family-base;
    @include adaptive_font(19, 16);
    line-height: 1.5;
    color: $font-color-grey;
    margin: 17px 0 7px;
  }
  &__label {
    font-family: $font-family-header;
    @include adaptive_font(24, 19);
    line-height: 1.2;
    position: relative;
    padding-left: 26px;
    margin-bottom: 27px;
    &::before {
      content: "";
      height: 16px;
      width: 16px;
      display: block;
      position: absolute;
      background: $base-color-light;
      border-radius: 100px;
      left: 0;
      top: 3px;
    }
  }
}
