.books {
  padding: 130px 0 150px;
  &__title {
    text-align: center;
    margin-bottom: 60px;
    &::after {
      left: 50%;
      bottom: -23px;
      transform: translateX(-50%);

    }
  }
  &__gallery {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
}
.book {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  gap: 30px;
  color: $base-color-dark;
  &__img {
    filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.2));
    & img {
      max-height: 382px;
    }
  }
  &__title {
    font-family: $font-family-header;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.32px;
    margin-bottom: 7px;
  }
  &__price {
    font-family: $font-family-base;
    color: $base-color-light;
    font-size: 21px;
    line-height: 33px;
  }
  &__about {
    font-family: $font-family-base;
    font-size: 19px;
    line-height: 28px;
    color: $font-color-grey;
    margin: 17px 0 7px;
  }
  &__label {
    font-family: $font-family-header;
    font-size: 24px;
    line-height: 29px;
    position: relative;
    padding-left: 26px;
    margin-bottom: 27px;
    &::before {
      content: "";
      height: 16px;
      width: 16px;
      display: block;
      position: absolute;
      background: $base-color-light;
      border-radius: 100px;
      left: 0;
      top: 3px;
    }
  }
}
