.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: $base-color-dark;
  &__left,
  &__right {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__wrapper {
    @include flex-rule(space-between, row, center);
    padding: 20px 0;
    @include xl {
      padding: 20px;
    }
  }
}
.logo {
  padding: 20px;
  margin-right: 35px;
  @include lg {
    margin-right: 10px;
  }
}
.social {
  display: flex;
  gap: 10px;
  &__item {
    height: 45px;
    width: 45px;
    background: #fff;
    transition: all 0.5s ease;
    &:hover {
      background: $base-color-light;
    }
    &_transparent {
      background: transparent;
      border: 1px solid $base-color-light;
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    @include flex-rule(center, row, center);
  }
  &__img_dark {
    color: #141414;
  }
  &__img_light {
    color: $font-color-light;
  }
}
.header__social {
  @include xs {
    display: none;
  }
}
.nav {
  margin-right: 39px;
  &__list {
    display: flex;
    gap: 47px;
  }
  &__link {
    color: $font-color-nav;
    @include adaptive_font(17, 15);
    font-family: $font-family-base;
    letter-spacing: 0.17px;
    transition: all 0.5s ease;
    &:hover {
      color: $base-color-light;
    }
  }
}
.order {
  display: flex;
  align-items: center;
  gap: 51px;
  &__cart {
    height: 17px;
    width: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.5);
    }
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}
