.partners {
  padding: 126px 0 130px 0;
  &__title {
    text-align: center;
    margin-bottom: 76px;
    &::after {
      left: 50%;
      bottom: -23px;
      transform: translateX(-50%);
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    padding: 0 10px;
    flex: 1 1 20%;
    max-width: 300px;
  }
  &__name {
    font-family: $font-family-header;
    color: $base-color-dark;
    @include adaptive_font(24, 20);
    line-height: 1.2;
  }
  &__desc {
    font-family: $font-family-base;
    color: $font-color-grey;
    @include adaptive_font(19, 15);
    line-height: 1.5;
    text-align: center;
  }
}
