.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  @include xl {
    padding: 0 20px;
  }
}

.btn {
  font-family: $font-family-header;
  font-weight: 400;
  @include adaptive_font(19, 16);
  color: $base-color-dark;
  padding: 16px 50px;
  cursor: pointer;
  transition: all 0.5s ease;
  &_light {
    background: $base-color-light;
    letter-spacing: 0.57px;
    border: 2px solid $base-color-light;
    &:hover {
      background: $font-color-light;
    }
  }
  &_transparent {
    background: transparent;
    letter-spacing: 0.38px;
    border: 2px solid $base-color-light;
    &:hover {
      background: $base-color-light;
    }
  }
}

.title-2 {
  font-family: $font-family-header;
  @include adaptive_font(42, 27);
  line-height: 1.2;
  color: $base-color-dark;
  position: relative;
  &::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    position: absolute;
    background: $base-color-light;
  }
}
