$base-color-dark: #1b3764;
$base-color-light: #ffca42;

$background-color-light: #f5f8fc;

$font-color-light: #fff;
$font-color-grey: #969aa0;
$font-color-nav: #f6f8fc;
$font-color-footer: #b4c7e7;

$font-size-nav: 17px;
$font-size-header: 42px;

$font-family-header: "Cardo", serif;
$font-family-base: "Inter", sans-serif;

//breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1300;
