$base-color-dark: #1B3764;
$base-color-light: #FFCA42;

$background-color-light: #F5F8FC;

$font-color-light: #fff;
$font-color-grey: #969AA0;
$font-color-nav: #F6F8FC;
$font-color-footer: #B4C7E7;

$font-size-nav: 17px;
$font-size-header: 42px;

$font-family-header: 'Cardo', serif;
$font-family-base: 'Inter', sans-serif;
